<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Card Number Entry</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <h1>Enter Card Number</h1>
        <form action= "/processGetHandler" method="GET" id="cardForm">
          <div class="form-group">
            <label for="cardNumber">Card Number:</label>
            <input type="text" class="form-control" name="cardNumber" id="cardNumber" placeholder="Enter card number">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    
  </div>
</body>

</html>